.video__player {
  object-fit: cover;
  width: 50%;
  margin-left: 70px;
}

.text-blue {
  color: rgb(32, 213, 236);
}

.btn-outline-danger {
  border-color: #fe2c55 !important;
  color: #fe2c55;
}

.actions_tikTok {
  width: 50px;
  height: 50px;
  background-color: #ecebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  border-radius: 100%;
}

.actions_tikTok:hover {
  background-color: #fe2c55;
  color: white;
}
