.video__player {
    object-fit: cover;
    width: 50%;
    margin-left: 70px;
}

.video__player_user {
    margin-left: 0px;
    width: 100%;
}

.post_user {
    width: 33%;
}

.views_post {
    text-align: center;
    margin-top: 10px;
}